.containerSilver {
    background: linear-gradient(15.9deg, #6d7475 9.42%, #dfdfdf 27.24%, #848B8A 47.13%, #697475 53.17%, #606a6d 76.3%, #757A7B 84.69%, #4D5455 93.53%);
    padding: calc((100vw/1920)*10);
    padding-inline: calc((100vw/1920)*20);
    border-radius: calc((100vw/1920)*5);
    font-size: calc((100vw/1920)*20);
    box-shadow: 0px -1px 1.9px 0px #00000066;
    font-weight: 500;
    width: max-content;

}
.containerGold {
    background: linear-gradient(160.85deg, #ebc676 -4.08%, #9D8555 17.03%, #f7d48e 53.21%, #58400F 95.13%);
    padding: calc((100vw/1920)*10);
    padding-inline: calc((100vw/1920)*20);
    border-radius: calc((100vw/1920)*5);
    font-size: calc((100vw/1920)*20);
    box-shadow: 0px -1px 1.9px 0px #00000066;
    width: max-content;
}

@media screen and (max-width: 1100px) {
    .containerSilver {
        padding: calc((100vw/393)*8);
        padding-inline: calc((100vw/393)*15);
        border-radius: calc((100vw/393)*5);
        font-size: calc((100vw/393)*8);
    }

    .containerGold {
        padding: calc((100vw/393)*8);
        padding-inline: calc((100vw/393)*15);
        border-radius: calc((100vw/393)*5);
        font-size: calc((100vw/393)*8);
    }
}