@import url("../../../global.module.css");

@keyframes movement {
    0% {
        transform: translateX(20%);
        /* transition-duration: 1000ms; */
        opacity: 0;
        animation-direction: alternate;
        animation-delay: 0ms;
    }

    50% {
        transform: translateX(10%);
        /* transition-duration: 1000ms; */
        opacity: 0;
        animation-direction: alternate;
        animation-delay: 0ms;
    }

    100% {
        transition-duration: 1000ms;
        transform: translateX(0);
        opacity: 1;
        animation-direction: normal;
        animation-delay: 0ms;
    }
}

.carousel-card {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    box-sizing: border-box;
    height: calc((100vw / 1920) * 528);
    width: calc((100vw / 1920) * 422);
    /* transition-duration: 1000ms; */
}

.animation {
    animation: movement 1500ms linear forwards;
}

.carousel-card-image {
    display: grid;
    justify-content: center;
    align-items: center;
    background: #000000
}

.card-image-outer {
    display: grid;
    justify-content: center;
    align-items: center;
    width: calc((100vw / 1920) * 274.67);
    height: calc((100vw / 1920) * 256.08);
}

.card-image-inner {
    width: calc((100vw / 1920) * 167);
    height: calc((100vw / 1920) * 178.67);
}

.carousel-card-content {
    display: grid;
    grid-template-rows: repeat(3, auto);
    /* background: linear-gradient(85.96deg, rgba(255, 255, 255, 0) -20.51%, rgba(255, 255, 255, 0.05) 26.82%, rgba(255, 255, 255, 0) 65.65%),
        rgba(196, 196, 196, 0.05); */
    background: linear-gradient(85.96deg, rgba(255, 255, 255, 0) -20.51%, rgba(255, 255, 255, 0.05) 26.82%, rgba(255, 255, 255, 0) 65.65%),
        rgba(196, 196, 196, 0.05);

    grid-template-columns: 1fr;
    justify-content: space-between;
    text-align: center;
    padding: calc((100vw / 1920) * 25);
    color: var(--text-tertiary-color);
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 0px 0px 8px 8px;
}

.carousel-card-title {
    font-family: 'Roboto';
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 31px;
    background: linear-gradient(139.85deg, #FFF2D6 -4.08%, #9D8555 17.03%, #D8C08F 53.21%, #58400F 95.13%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: -0.490196px;
}

.carousel-card-description {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--text-tertiary-color);
    word-break: break-word;
    color: #FFFFFF;
}

.carousel-card-button {
    background-color: var(--text-button-background-color-primary);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: min-content;
    width: fit-content;
    padding: calc((100vw / 1920) * 10) calc((100vw / 1920) * 34);
    justify-content: center;
    overflow: visible;
    gap: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: calc((100vw / 1920) * 16);
    line-height: calc((100vw / 1920) * 24);
    font-weight: 500;
    color: var(--text-icon-color);
    cursor: pointer;
}

/* Frame 480929

box-sizing: border-box;

/* Auto layout 
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 0px 40px;
gap: 20px;

width: 422px;
height: 528px;

/* GLASS MORPH 
background: linear-gradient(85.96deg, rgba(255, 255, 255, 0) -20.51%, rgba(255, 255, 255, 0.05) 26.82%, rgba(255, 255, 255, 0) 65.65%),
rgba(196, 196, 196, 0.05);
border-bottom: 2px solid rgba(255, 255, 255, 0.25);
border-radius: 0px 0px 8px 8px;

/* Inside auto layout 
flex: none;
order: 0;
flex-grow: 0; */



/* @media(max-width: 1100px) {
    .carousel-card {
        width: calc((100vw / 393) * 361);
        height: min-content;
        aspect-ratio: 3/4;
    }

    .card-image-outer {
        width: calc((100vw / 393) * 240);
        height: calc((100vw / 393) * 191.13);
        background-size: inherit;
    }

    .card-image-inner {
        width: calc((100vw / 393) * 128.99);
        height: calc((100vw / 393) * 128.99);
    }

    .carousel-card-content {
        display: grid;
        padding: calc((100vw / 393) * 20);
        grid-template-rows: repeat(3, auto);
    }

    .carousel-card-title {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: calc((100vw / 393) * 21);
        word-break: break-word;
    }

    .carousel-card-description {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: calc((100vw / 393) * 14);
        word-break: break-word;
    }

    .carousel-card-button {
        padding: calc((100vw / 393) * 15) calc((100vw / 393) * 7);
        font-size: calc((100vw / 393) * 16);
        width: calc((100vw / 393) * 115);
    }
} */


/* Frame 819 */

/* Auto layout */
/* display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 12px;

width: 346px;
height: 152px; */


/* Inside auto layout */
/* flex: none;
order: 1;
flex-grow: 0; */


/* Info Leak Investigation */

/* width: 322px;
height: 30px;

font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 31px; */
/* or 127% */
/* display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.490196px; */

/* GOLDMETAL */
/* background: linear-gradient(139.85deg, #FFF2D6 -4.08%, #9D8555 17.03%, #D8C08F 53.21%, #58400F 95.13%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent; */


/* Inside auto layout */
/* flex: none;
order: 0;
flex-grow: 0; */


/* In case of an information leak, our expert team conducts thorough investigations to find recurring patterns, potential sources, and plan defenses to avoid them in the future.  */

/* width: 346px;
height: 110px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center; */

/* color: #FFFFFF; */


/* Inside auto layout */
/* flex: none;
order: 1;
flex-grow: 0; */