@import url("../../../global.module.css");

.spotLight{
    position: absolute;
    border-radius: 50%;
    opacity: 50%;
    filter: blur(calc((100vw/1920)*250));
    z-index: -1;
}

@media screen and (max-width: 1100px){
    .spotLight{
        filter: blur(calc((100vw/393)*100));
    }
}