@import url("../../../global.module.css");

.dot-button {
    background-color: var(--text-button-background-color-secondary);
    border: 1px;
    border-radius: 50%;
    transition: 200ms;
    height: calc((100vw / 1920) * 50);
    width: calc((100vw / 1920) * 50);
    box-sizing: border-box;
    background: linear-gradient(85.96deg, rgba(255, 255, 255, 0) -20.51%, rgba(255, 255, 255, 0.05) 26.82%, rgba(255, 255, 255, 0) 65.65%), rgba(196, 196, 196, 0.05);
    border: 1px solid #9D9A9A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: calc((100vw / 1920) * 20);
    line-height: 31px;
    letter-spacing: -0.490196px;
    color: #9D9A9A;
}

.dot-button-active {
    background: linear-gradient(203.61deg, #060C0B -8.96%, #F2C84B 30.94%, #F2D785 44.23%, #D9A036 57.53%, #060C0B 97.43%);
    width: calc((100vw / 1920) * 50);
    height: calc((100vw / 1920) * 50);
    border: 1px;
    border-radius: calc((100vw / 1920) * 300);
    transition: 250ms smooth;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: calc((100vw / 1920) * 20);
    line-height: 31px;
    letter-spacing: -0.490196px;
    color: #000000;
}

@media (max-width: 1100px) {
    .dot-button svg {
        width: calc((100vw / 393) * 6);
        height: calc((100vw / 393) * 6);
    }

    .dot-button-active {
        /* width: calc((100vw / 393) * 18) !important; */
        border: 1px;
        border-radius: 50%;
        height: calc((100vw / 393) * 30);
        width: calc((100vw / 393) * 30);
        /* width: calc((100vw / 393) * 30); */
        font-size: calc((100vw / 393) * 11.5);
    }

    .dot-button {
        height: calc((100vw / 393) * 30);
        width: calc((100vw / 393) * 30);
        /* width: calc((100vw / 393) * 30); */
        font-size: calc((100vw / 393) * 11.5);
        border: 1px;
        border-radius: 50%;
    }
}