@import url("../../global.module.css");

@keyframes typewriter {
    from { width: 0; }
    to { width: 100%; }
}

.hero {
    display: grid;
    height: max-content;
    grid-template-rows: auto 1fr 1fr;
    background-color: var(--primary-background-dark-color);
    padding-left: var(--hero-section-left-padding);
    padding-right: var(--hero-section-right-padding);
    padding-top: var(--hero-section-top-padding);
}

.header {
    max-height: 48px;
    margin-bottom: calc((100vw / 1920) * 130);
}

.heroBlock {
    display: grid;
    grid-auto-rows: auto auto auto auto;
    gap: calc((100vw / 1920) * 12);
}

.heroContent {
    display: grid;
    gap: calc((100vw / 1920) * 12);
}

@media (max-width: 1200px) {

    .hero {
        grid-template-rows: 1fr;
        height: auto;
        padding: 20px;
    }

    .emptyArea {
        height: 50px;
    }
}

@media (min-width: 1200px) {

    /* Your CSS code for larger than laptop or desktop screen goes here */
    .framer-text {
        font-size: calc((100vw / 1920) * 62);
    }

    .secondary-text {
        font-size: calc((100vw / 1920) * 62);
    }
}


.framer-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    color: var(--framer-text-color, #000);
    font-size: calc((100vw / 1920) * 62);
    text-transform: var(--framer-text-transform, none);
    text-decoration: var(--framer-text-decoration, none);
    text-align: var(--framer-text-alignment, start);
}

.secondary-text {
    color: var(--text-primary-color);
    font-size: calc((100vw / 1920) * 62);
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    line-height: calc((100vw / 1920) * 72);
}

.about-text {
    display: inline-block;
    color: var(--text-primary-color);
    font-size: calc((100vw / 1920) * 40);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: calc((100vw / 1920) * 2.5rem);
}

.online-text {
    color: var(--framer-text-color, #000);
    font-size: calc((100vw / 1920) * 40);
    font-family: "Roboto", sans-serif;
    line-height: calc((100vw / 1920) * 2.5rem);
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    width: max-content;
    border-right: 2px solid;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: typewriter 2.5s steps(44) 1s 1 normal both, blinkTextCursor 800ms steps(44) infinite normal;
}

.hear-back-text {
    color: var(--framer-text-color, #000);
    font-family: "Roboto", sans-serif;
    font-size: calc((100vw / 1920) * 18);
    font-weight: 400;
    font-style: normal;
    line-height: calc((100vw / 1920) * 1.5rem);
}

.button-text {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-size: calc((100vw / 1920) * 16);
    line-height: 24px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: var(--primary-background-dark-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.button-icon {
    justify-content: center;
    align-items: center;
}

/* All a tag inside hero class none text-decoration */
.hero a {
    text-decoration: none;
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc((100vw / 1920) * 10);
}

.hero-button {
    align-items: center;
    display: flex;
    background-color: var(--text-primary-color);
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: calc((100vw/1920)*30);
    width: min-content;
    padding: calc((100vw / 1920) * 10) calc((100vw / 1920) * 34);
    justify-content: center;
    overflow: visible;
    cursor: pointer;
}

.arrowImg{
    width: calc((100vw / 1920)* 21);
    height: calc((100vw / 1920)* 10);
}

.about-spacing {
    gap: calc((100vw / 1920)* 12);
}

@media (max-width: 1200px) {

    .heroBlock {
        gap: calc((100vw / 393) * 12);
    }

    .framer-text {
        font-size: calc((100vw/393)* 20);
        font-weight: 700;
        line-height: calc((100vw/393)* 25.2);
    }

    .secondary-text {
        font-size: calc((100vw/393)* 20);
        font-weight: 700;
        line-height: calc((100vw/393)* 25.2);
    }

    .about-text {
        font-size: calc((100vw/393) * 17);
        font-weight: 400;
        line-height: calc((100vw/393)* 20.4);
    }

    .online-text {
        font-size: calc((100vw/393) * 17);
        font-weight: 400;
        line-height: calc((100vw/393)* 20.4);

    }

    .hear-back-text {
        font-size: calc((100vw/393) * 10);
        font-weight: 400;
        line-height: calc((100vw/393) * 12);
    }

    .hero-button{
        width: calc((100vw / 393)* 125);
        height: calc((100vw / 393)* 28);
        padding: calc((100vw / 393)* 5) calc((100vw / 393)* 14);
    }

    .button{
        gap: calc((100vw/393)*4);
    }

    .button-text{
        font-size: calc((100vw/393)*14);
        font-weight: 400;
    }

    .arrowImg{
        width: calc((100vw / 393)* 11);
        height: calc((100vw / 393)* 8);
    }

    .about-spacing {
        gap: calc((100vw / 393)* 5);
    }
}

/* The typewriter cursor effect */
@keyframes blinkTextCursor {
    from {border-right-color: transparent;}
    to {border-right-color: inherit;}
}
