@import '../../global.css';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    color: black;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 1rem;
}

.menu-item {
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: #e2e8f0;
    color: #4a5568;
    transition: background-color 0.3s ease;
    margin: var(--common-margin);
}

.menu-item:hover {
    background-color: #cbd5e0;
}