.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc((100vw / 1920)* 60);
    height: max-content;
}

.bulletPointContainer {
    display: grid;
    grid-template-columns: auto;
    justify-self: start;
    align-items: flex-start;
    gap: calc((100vw/1920)* 40);
    margin-top: calc((100vw/1920)* 20);
}

.bulletPoints {
    display: flex;
    align-items: center;
    gap: calc((100vw/1920)*12);
}

.bulletPointsTxt {
    font-family: "Inter";
    font-size: calc((100vw/1920)*32);
    font-weight: 400;
    line-height: calc((100vw/1920)* 38.73);
    text-align: left;
    color: #858585;

}

.activeBulletPoint {
    font-family: "Inter";
    font-size: calc((100vw/1920)*32);
    font-weight: 400;
    line-height: calc((100vw/1920)* 38.73);
    text-align: left;
    color: #F2F2F2;
  }


.bulletPointImg {
    height: calc((100vw/1920)*28);
    width: calc((100vw/1920)*28);
}

.text-section-centent {
    font-family: "Inter";
    font-size: calc((100vw/1920)* 32);
    font-weight: 400;
    line-height: calc((100vw/1920)* 38.73);
    text-align: left;
    color: #F2F2F2;

}

.content-section {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: calc((100vw/1920)* 20);
}


@media (max-width: 1100px) {
    

}