@import url("../../../global.module.css");

.button {
    width: fit-content;
    cursor: pointer;
    padding: calc((100vw / 1920)*20) calc((100vw / 1920)*30);
    font-weight: 400;
    font-size: calc((100vw / 1920)*24);
    font-family: 'Inter';
    word-wrap: break-word;
    transition: all 500ms ease-in-out;
    border-image-slice: 1;
}

@media only screen and (max-width: 1100px) {
    .button {
        padding-left: calc((100vw / 393)* 10) calc((100vw / 393)*23);
        font-size: calc((100vw / 393)* 12);
    }
}

