@import url("../../../global.module.css");

.button {
    width: fit-content;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    word-wrap: break-word;
    transition: all 500ms ease;
}

.buttonGradient {
    position: relative;
}

.buttonGradient::before {
    content: '';
    background: linear-gradient(203.61deg, #060C0B -8.96%, #F2C84B 30.94%, #F2D785 44.23%, #D9A036 57.53%, #060C0B 97.43%);
    position: absolute;
    inset: 0;
    margin: calc((100vw/1920)*-5);
    z-index: -1;
}

@media only screen and (max-width: 1100px) {}