.container {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: calc((100vw / 1920)* 30);
    height: max-content;
    width: calc((100vw/1920)* 602);
    padding-left: calc((100vw/1920)*  216);
    padding-top: calc((100vw/1920)*  70);
    padding-bottom: calc((100vw/1920)*  70);
}

.bulletPointContainer {
    display: grid;
    grid-template-columns: auto;
    justify-self: start;
    align-items: flex-start;
    gap: calc((100vw/1920)* 40);
}

.bulletPoints {
    display: flex;
    align-items: center;
    gap: calc((100vw/1920)*12);
}

.bulletPointsTxt {
    font-family: "Inter";
    font-size: calc((100vw/1920)*32);
    font-weight: 400;
    line-height: calc((100vw/1920)* 38.73);
    text-align: left;
    color: #fff;

}

.bulletPointImg {
    height: calc((100vw/1920)*28);
    width: calc((100vw/1920)*28);
}

.text-section-content {
    font-family: "Inter";
    font-size: calc((100vw/1920)* 64);
    font-weight: 400;
    line-height: calc((100vw/1920)* 77);
    text-align: left;
    color: #fff;

}

.content-section {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: calc((100vw/1920)* 20);
}


@media (max-width: 1100px) {
    

}