@import url("../../../global.module.css");

.card {
    width: calc((100vw / 1920)* 513);
    color: var(--text-icon-color);
    background-color: var(--text-button-background-color-primary);
    font-family: Roboto;
    border-radius: calc((100vw / 1920)* 15);
    display: flex;
    flex-direction: column;
    font-size: calc((100vw / 1920)*20);
    overflow: hidden;
    position: relative;
    gap: calc((100vh / 1920)* 11);
    padding: calc((100vw / 1920)* 50) calc((100vw / 1920)* 30);
    justify-content: space-between;
    box-sizing: border-box;

}

.ribbon {
    font-size: calc((100vw / 1920)*15);
    font-weight: bold;
    color: var(--text-tertiary-color);
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1.8;
    padding-inline: 1lh;
    transform: translate(calc((1 - cos(45deg))*100%), -100%) rotate(45deg);
    transform-origin: 0% 100%;
    background-color: var(--text-button-background-color-tertiary);
    /* the main color  */
}

.planPicker {
    display: flex;
    background-color: #D2D2D2;
    padding: calc((100vw / 1920) * 10) calc((100vw / 1920) * 8);
    gap: calc((100vw / 1920)* 20);
    border-radius: calc((100vw / 1920)*16);
    align-items: center;
    width: fit-content;
    color: var(--primary-background-dark-color);
    font-size: calc((100vw / 1920)*18);
    justify-content: space-evenly;
    

}

.activePlan {
    background-color: var(--text-icon-color);
    color: var(--text-button-background-color-primary);
    border-radius: calc((100vw / 1920)*11);
    font-weight: 600;
    


}
.allPlansTab{
    padding: calc((100vw / 1920)*12);
    transition: all 200ms ease-in-out;
    cursor: pointer;    
}
.allPlansTab:hover{
    scale: 1.1;
}
.discountText {
    font-size: calc((100vw / 1920)*18);
    color: #D2D2D2;


}

.originalPrice {
    font-size: calc((100vw / 1920)*40);
    text-decoration: line-through;
    color: #D2D2D2;

}

.dicountedPrice {
    font-size: calc((100vw / 1920)*80);
    font-weight: 500;
}


.bulletIcon {
    width: calc((100vw / 1920)*20);
    height: auto;
}

p,
h1,
h2,
h3 {
    margin: 0px;
    padding: 0px;
}

.bulletPointContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:calc((100vw / 1920 )*6);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: calc((100vw / 1920)*18);
    color: #D2D2D2;
}

.discountPriceContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: min-content;
}

.button-text {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-size: calc((100vw/1920)*16);
    line-height: 24px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.1em;
    align-items: center;
    color: var(--text-icon-color);
    flex-shrink: 0;
    display: flex;
    flex-wrap: nowrap;
    color: black;
}

.button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: calc((100vw/1920)*5);
}

.button-icon {
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    filter: invert(1);
}

.cardbox-button {
    width: calc((100vw/1920)*194);
    height: calc((100vw/1920)*44);
    background-color: var(--text-button-background-color-tertiary);
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding:0;
    justify-content: center;
    align-items: center;
    transition: background-color 1s linear, border 1s;
    cursor: pointer;
}

.cardbox-button:hover{
    background-color:  var(--text-icon-color);
    border: 1px solid black;
}

.cardbox-button:hover .button-text{
    color: black;
}

.cardbox-button:hover .button-icon{
    filter: invert(1);
}

.arrowImg{
    width: calc((100vw / 1920)* 40);
    height: calc((100vw / 1920)* 24);
}

.inputBoxWithButton{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-column-gap: 10px;
}


@media screen and (max-width: 1100px) {
    .card {
        width:90vw;
        font-size: calc((100vw / 393)* 15);
        padding: calc((100vw / 393)* 30);
        border-radius: calc((100vw / 393)* 15);
        gap: calc((100vh / 393)* 5);
        aspect-ratio: 1.2/1;
    }

    .planPicker {
        font-size: calc((100vw / 393)* 15);
        padding: calc((100vw / 393) * 5);
        border-radius: calc((100vw / 393)*8);
    }
    .activePlan{
       
        border-radius: calc((100vw / 393)*6);
    }
    .allPlansTab{
        padding: calc((100vw / 393)*8);
        font-size: calc((100vw / 393)*13);
    }

    .ribbon {
        font-size: calc((100vw / 393)*10);
    }

    .discountText {
        font-size: calc((100vw / 393)*13);
    }

    .originalPrice {
        font-size: calc((100vw / 393)*15);
    }

    .discountPriceContainer {
        font-size: calc((100vw / 393)*11);
    }
    .dicountedPrice{
        font-size: calc((100vw / 393)*30);
    }
    .bulletIcon{
        width: calc((100vw / 393)*15);
    }
    .bulletPointContainer{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size:calc((100vw / 393)*12) ;
    }
    h1{
        font-size: calc((100vw / 393)* 23);
    }

    .cardbox-button{
        width: calc((100vw / 393)* 109);
        height: calc((100vw / 393)* 28);
        padding: calc((100vw / 393)* 5) calc((100vw / 393)* 14);
    }

    .button{
        gap: calc((100vw/393)*5);
    }

    .button-text{
        font-size: calc((100vw/393)*14);
    }

    .arrowImg{
        width: calc((100vw / 393)* 18);
        height: calc((100vw / 393)* 18);
    }



}